@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-50;
}
@keyframes pulse-fast {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.animate-pulse-fast {
  animation: pulse-fast 1.7s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}